a.ico { color:#9d9c9a; font-size:10px; text-decoration: none; padding:0 0 0 14px; background-repeat:no-repeat; background-position:0 0; }
a.ico:hover { color:#333;}
a.del { background-image:url(../../images/del.gif)}
a.edit { background-image:url(../../images/edit.gif); margin-left:14px;}

div.ico { float:left ;color:#9d9c9a; font-size:10px; text-decoration: none; padding:0 0 0 14px; background-repeat:no-repeat; background-position:0 0; }
div.ico:hover { color:#333;}
div.del { background-image:url(../../images/del.gif);}
div.edit { background-image:url(../../images/edit.gif); margin-left:14px;}