.shell { width:988px; margin:0 auto; }

.left, .alignleft { float:left; display:inline; }
.right, .alignright { float:right; display:inline; }

#footer { height:44px; background:url(../../images/footer.gif); line-height:44px; color:#fff;}
#footer a{ color:#fff; }
